*{
    margin: 0;
    padding: 0;
}

.our-map {
    width: 1500px;
    height: 700px; 
    background: url(../images/World_Map.png);
    background-size: cover;
    position: relative;
}
.address-text {
    width: 100%;
    height: auto;
}

.address-text p {
    font-size: 12px;
    font-weight: 100;
    color: #444;
    margin: 0;
    text-align: left;
    display: flex;
    padding-top: 6px;
}

.address-text p span {
    font-weight: 600;
    font-size: 15px;
    color: #444;
}

.address-text i {
    font-size: 14px;
    color: #f00;
}

.tooltip-col {
    position: relative;
    display: inline-block;
    cursor: pointer;
    text-align: center;
}

.tooltip-col i {
    font-size: 20px;
    color: #ba3236;
    padding-right: 1px;
    padding-top: 1px;
}

.tooltiptext3{
    visibility: hidden;
    width: 250px;
    height: auto;
    background-color: rgba(255,255,255,0.9);
    border-radius: 6px;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
    top: 45px;
    right: -122px;
}

.tooltiptext3::after{
    content: "";
    position: absolute;
    top: -20px;
    left: 125px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
}

.tooltip-col:hover .tooltiptext3{
    visibility: visible;

}

.address-first {
    width: 100%;
    height: auto;
    position: absolute;
    top: 60%;
    left: 37%;
    z-index: 9999;
}
.address-second {
    width: 100%;
    height: auto;
    position: absolute;
    top: 21%;
    left: 18%;
    z-index: 9999;
}
.address-third {
    width: 100%;
    height: auto;
    position: absolute;
    top: 13%;
    left: 40.7%;
    z-index: 9999;
}
.address-fourth {
    width: 100%;
    height: auto;
    position: absolute;
    top: 22%;
    left: 65%;
    z-index: 9999;
}
.address-fifth {
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 71.5%;
    z-index: 9999;
}